
.navbar {
    background-color: transparent !important; // Set navbar background to transparent
}

.navbar-brand {
    color: goldenrod !important; // Set color of "Tay" to blue
}

.navbar-brand:hover {
    color: rgb(255, 255, 255) !important; // Set color of "Tay" to blue
}

.navbar-brand span {
    color: red !important; // Set color of "tay" to red
}

.navbar-brand .online {
    color: white !important; // Set color of "Online" to white
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.986) !important; // Set color of nav links to white
}


.form-control {
    margin-top: 1.6em !important;
    height: 38px !important; /* Adjust the height as needed */
}


.btn {
    color: white !important; /* Change text color on hover to white */
    background-color: rgb(0, 0, 0) !important; /* Change background color on hover to navbar brand color */
}

.btn i {
    margin-right: 8px; /* Add margin to separate icon from text */
}

.btn:hover {
    color: rgb(0, 0, 0) !important; /* Set text color to match navbar brand color */
    background-color: transparent !important; /* Set background color to transparent */
    padding: 8px 8px !important; /* Add padding */
    border-radius: 4px !important; /* Add border-radius */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
    display: flex; /* Make button and icon align horizontally */
    align-items: center; /* Align items vertically */
}

.listingCreate {
    padding: 8px 6px; /* Add padding */
    border-radius: 4px; /* Add border-radius */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.btn-red {
    background-color: rgb(14, 13, 13); /* Set background color to red */
    color: white; /* Set text color to white */
    border: 1px solid rgb(0, 0, 0); /* Add border with the same color as background */
}

.btn-red:hover {
    color: rgb(255, 77, 71); /* Change text color on hover to red */
    background-color: white; /* Change background color on hover to white */
}

